@model Products 

@{
    ViewBag.Title = "Actions";
    Layout = "_Layout";
}

<h2>Actions</h2>
<td>
    <a asp-action="SupplyAction" asp-route-id="@(new Products().Id)">Supply</a> |
    <a asp-action="DisplayAction" asp-route-id="@(new Products().Id)">Display</a> |
    <a asp-action="BuyAction" asp-route-id="@(new Products().Id)">Buy</a>
    <a asp-action="TransactionAction" asp-route-id="@(new Products().Id)">Buy</a>
</td>